@import url("https://fonts.googleapis.com/css2?family=Source Sans Pro");
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

p {
  white-space: pre-line;
}

ul {
  list-style: none;
}
ul li {
  text-transform: capitalize;
}

.navbar {
  align-items: center;
  background: white;
  filter: drop-shadow(0 1px 4px #B7B7B7);
}
@media (max-width: 786px) {
  .navbar {
    display: block;
  }
}
.navbar .navbar-content {
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar .navbar-content .nav-links {
  display: flex;
  flex-direction: row;
  gap: 32px;
  font-weight: bold;
  padding-left: 32px;
}
.navbar .navbar-content .nav-links .nav-link {
  color: inherit;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}
.navbar .navbar-content .nav-links .nav-link:hover {
  cursor: pointer;
  color: white;
}
.navbar .navbar-content .ask-question {
  width: 150px;
  height: 40px;
  background: linear-gradient(90deg, rgb(227, 25, 55) 0%, rgb(168, 36, 101) 60%, rgb(82, 54, 171) 100%);
  border-radius: 20px;
  margin-left: auto;
  outline: none;
  color: white;
  font-weight: bold;
  margin-right: 2rem;
  border: none;
  cursor: pointer;
  box-shadow: 6px 6px 10px -9px rgba(0, 0, 0, 0.59);
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 2rem;
}
.search-form input {
  border: none;
  border-left: solid 2px grey;
  padding: 0.5rem;
  width: 30rem;
}
.search-form input:focus {
  outline: none;
}

.definitions-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  margin: auto;
}

.toggle-container {
  width: 2.5rem;
  height: 1.2rem;
  border: solid 2px grey;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.toggle-container-selected {
  border: solid 2px rgb(227, 25, 55) !important;
}

.toggle-inner {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  margin: 0.2rem;
  background: grey;
  transition: all 0.2s ease-in-out;
}

.toggle-inner-selected {
  transform: translateX(1.2rem);
  background: rgb(227, 25, 55) 0%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 10px;
}
.modal-content .terms-content {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  height: 15rem;
  overflow-y: auto;
}

.button-no-style {
  background: none;
  border: none;
}
.button-no-style :focus {
  outline: none;
}

.check-box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
}

.accept-terms-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.accept-terms-form .continue {
  width: -moz-fit-content;
  width: fit-content;
  background: rgb(227, 25, 55);
  color: white;
  border: none;
  padding: 0.3rem;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.accept-terms-form .continue:hover {
  cursor: pointer;
  background: #cc1631;
}
.accept-terms-form .continue:disabled {
  background: grey;
}
.accept-terms-form .continue:disabled:hover {
  cursor: default;
}

.page-heading {
  width: 100%;
  background: linear-gradient(90deg, rgb(227, 25, 55) 0%, rgb(168, 36, 101) 60%, rgb(82, 54, 171) 100%);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page-heading h1 {
  margin-left: 10%;
  margin: 2rem 0 2rem 10%;
  font-weight: 300;
  font-size: 2rem;
}

.question-response {
  margin-bottom: 1rem;
}

.error-banner {
  padding: 1rem;
  color: #5c5c5c;
  font-size: 0.9rem;
}

.info {
  background: #a7d7ff;
  border: solid 3px #0078da;
}

.error {
  background: #f7b7c1;
  border: solid 3px rgb(227, 25, 55);
}/*# sourceMappingURL=app.css.map */